.App {
  text-align: center;
}
.navbar{
  background: rgb(236, 232, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  margin: 20px;
  text-decoration: none;
  color: black;
  font-weight: 520;
  font-style:bold;
  color:rgba(0, 0, 0, 0.541);
}
span{
  color: rgb(172, 125, 37);
}
.nav-links, .logo{
  width: 50%;
}
.logo{
  margin-left: 5%;
  font-size: 1.5rem;
}
.nav-links{
  text-align: center;
}